@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Slabo+27px&display=swap');

body {
    font-family: 'Slabo-27px', Helvetica, sans-serif;
    font-size: 22px; 
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px; 
    margin: 0 auto; 
    padding: 20px; 
}

nav a {
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}


body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

.book, .join {
    background-color: #abd2fa; 
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #52c3e2; 
    color: #000000;
}

#background {
    background-color: #53b6c9; 
}

.msg {
    background-color: #63ceec; 
    line-height: 1.5em;
}

footer {
    background-color: #333; 
    color: #d9c2a3;
    margin-top: 200px;
}

.home-title {
    color: #000000;
    font-family: 'Bebas Neue', sans-serif, Helvetica;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #000000;
}

.msg h2 {
    background-color: #63ceec;
    font-family: 'Bebas Neue', sans-serif; 
}

.msg p {
    background-color: #63ceec; 
    padding-bottom: 15px;
}

footer a {
    background-color: #333; 
    color: #d9c2a3;
    text-decoration: none;
}

footer a:hover {
    background-color: #333; 
    color: #d9c2a3;
}

.icon {
    width: 80px;
    padding-top: 10px;
}


#hero-img {
    width: 100%; 
}

.logo {
    width: 80px; 
}

footer p {
    font-size: 1.2em;
}   

footer p a:hover {
    text-decoration: underline;
}    

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}