@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    
    font-size: 22px; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #000080 ;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin: 10px 10px; 

}


.logo {
    max-width: 100px; 
    margin-left: 200px; 
}

.logo-text {
    margin-left: 20px; 
    color: #708090; 
}

h1 {
    margin: 0; 
}

nav {
    margin-left: auto; 
    margin-right: 200px; 
    
}

nav a {
    text-align: center;
    margin-right: 60px; 
    text-decoration: none;
    color: white; 
    padding: 35px;
}
nav a:hover {

    background-color: #708090;
    color: #50C878;
}



main {
    margin-top: 40px;
}

.main-image {
    text-align: center;
}
  
.Introduction {
    margin-top: 20px;
    text-align: center;
}
.Introduction p {
    max-width: 800px; /* Puedes ajustar el ancho máximo según tus preferencias */
    margin: 0 auto; /* Esto centrará el párrafo horizontalmente */
  }
 
.home-grid {
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.Q2-image{
    margin-left: auto; 
    
}

.card-img {
    border: 10px solid  #708090;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #50C878;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
           


footer {
    background-color: #000080;
    padding: 25px 50px; 
    color: #ffffff;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10px; 
}
footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    background-color: #708090; 
    color: #50C878;
}
footer p a:hover {
    text-decoration: underline;
}    

