@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    
    font-size: 22px; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #000080 ;
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin: 10px 10px; 

}


.logo {
    max-width: 100px; 
    margin-left: 200px; 
}

.logo-text {
    margin-left: 20px; 
    color: #ffffff; 
}

h1 {
    margin: 0; 
}

nav {
    margin-left: auto; 
    margin-right: 200px; 
    display: flex;
    justify-content: space-around;
    
    
}

nav a {
    text-align: center;
    margin-right: 60px; 
    text-decoration: none;
    color: white; 
    padding: 35px;
}
nav a:hover {

    background-color: #708090;
    color: #50C878;
}



main {
    margin-top: 40px;
}

.main-image {
    text-align: center;
}
  
.Introduction {
    margin-top: 20px;
    text-align: center;
}
.Introduction p {
    max-width: 800px; 
    margin: 0 auto; 
  }
 
.home-grid {
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
}

.Q2-image{
    margin-left: auto; 
    
}

.card-img1:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }





.card-img {
    border: 10px solid  #708090;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #50C878;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
           


footer {
    background-color: #000080;
    padding: 25px 50px; 
    color: #ffffff;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 10px; 
}
footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    background-color: #708090; 
    color: #50C878;
}
footer p a:hover {
    text-decoration: underline;

}   
/* videos */
h1 {
    margin-bottom: 20px; /* Puedes ajustar este valor según sea necesario */
}

.home-grid-videos {
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
}

  

@media screen and (max-width: 900px) {
    .home-container {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    .card-img {
        max-width: 100%; 
    }

    header, footer {
        flex-direction: column;
        
    }
    nav a {
        display: block;
        padding: 15px;
    }
  

    .home-grid {
       
        justify-content: center;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .home-grid-videos {
       
        justify-content: center;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }


    footer {
        margin-top: 25px;
    }
}


